<div id="jumbo" class="p-5 mb-4 bg-light">
  <div class="container-fluid py-5 text-center">
    <h1 class="display-5 fw-bold">About Me</h1>
    <p>As a dedicated journalism student at the University of Texas, I am passionate about storytelling. Throughout my academic career so far, I have served as a reporter and associate news editor at The Daily Texan, the (awesome) UT student newspaper. I also had the opportunity of interning at Houston Public Media, where I dove into daily reporting, Ballotpedia, where I learned more about staying objective, and KUT, where I worked on a months-long multimedia feature story. Through it all, I have stayed committed to pursuing a journalistic career that allows me to use my skills to inform, educate and empower others. I also strayed from journalism to expand my knowledge on skills that could later help my reporting by minoring in government and business, along with taking the coding class that allowed me to code this website (Hi and thank you, Professor McDonald)! I am eager to connect with other professionals in the industry and learn from their experiences.</p>
  </div>
</div>