<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ relative_path }}index.html">Pili Saravia</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
      <li class="nav-item">
         <a class="nav-link" href="{{ relative_path }}mywork.html">My work</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="{{ relative_path }}index-example.html">Multimedia</a>
  
    <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Behind the Reporting
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{{ relative_path }}Pro-Palestine-Protest.html">Pro-Palestine Protest</a></li>
             <li><a class="dropdown-item" href="{{ relative_path }}cats-story.html">Displaced Cats</a></li>
          </ul>
        </li>
  </ul>
</div>
</div>
</nav>