{% extends '_templates/base.njk' %}

{% block page_title %}Pili Saravia | Cats story{% endblock %}

{% block page_description %}my favorite stories.{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pili Saravia | Cats story</title>
</head>
<body>
    <div class="p-4" style="max-width: 1000px; margin: 0 auto;">
    <h3 class="text-center">Cat-feeding community urges for adoption of dozens of cats before I-35 expansion</h3>
    <p class="text-small">By Pili Saravia</p>
    <div>
        <video controls style="float: left; margin: 10px; width: 300px;" class="p-2">
            <source src="img/eating.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
    <p>Rosana Carroll stood in an unoccupied lot in the Hancock neighborhood north of campus, feeding approximately 60 stray cats two and a half years ago. She said she feeds the now neutered remaining 30 cats every night. The lot is set for demolition with the expansion of I-35, leaving the cats without a home or a reliable spot to eat.</p>
    <p>Carroll recruited eight neighbors to help feed the cats, including her husband Patrick and neighbor Katherine Palmera. They urge people to adopt the cats, in fear that the cats will lose their home after the highway takes over the lot, Patrick Carroll said. </p>
    </div>
    <p>The group relocated many of the cats to a safer parking lot near the original site. Still, some live in the graffitied, run-down building of the original lot, and a few live in a gutter on a busy street nearby. </p>
    <p>A few cats got trapped in the inaccessible attic of the building. To feed them, the coalition built a system to raise food to the cats, which they quickly snatched. The cats waited months before climbing down. They named the last cat to come down Atticus. </p>
    <p>The cats grew attached to the original lot and building, Rosana Carroll said. She worries cats will migrate deeper into the neighborhoods or other parts of Austin once the lot is demolished and turned into a frontage road.</p>
    <div>
      <img src="img/flyer.jpeg" style="float: left; width: 215px; margin: 0 20px 20px 0;">
    <p>Locals have adopted seven of the cats. Recently, the group heightened its efforts to increase the number of adoptions. Fliers showcasing Buddy, Gandalf and other Hancock neighborhood cats adorn the surrounding lamp posts alongside a guide explaining the adoption process. Other group members use social media and personal contacts in their search.</p>
    </div>
    <div>
      <img src="img/initialcontact.jpg" style="float: right; width: 550px; margin: 0 -170px 20px 0;">
      <audio controls style="float: right; margin: 10px; width: 300px;" class="p-2">
        <source src="img/cats-audiooo.mp3" type="audio/mp3">
      Your browser does not support the video tag.
      </audio>
    <p>Third-year law student Klara Henry adopted one of the neighborhood cats named Oat Milk a couple of months after joining the group in 2022. She said students could find time to care for a cat in between classes.</p>
    <p>“There’s an obligation on the part of people who have the resources to feed and care for animals and people that need it and don’t have the means to care for themselves,” Henry said. “Whether that be human beings or animals, I definitely think there’s a duty as a person to help out when you can.”</p>
  </div>
    <p>Christina Huizar, a co-founder of Cats of West Campus, said some students’ fluctuating schedules and living situations may conflict with adopting. She said feral cats take more time to adjust and may require more caution.</p>
  <div>
    <figure style="float: left; width: 550px; margin: 0 auto; margin-right: 20px; margin-left: -100px;">
      <img src="img/followup.jpg" style="width: 100%; display: block;">
      <figcaption style="text-align: left; font-size: 14px; color: gray; margin-top: 8px;">
        Where are the cats one year later?
      </figcaption>
    </figure>
    <p>“You have to move past all that and be like, ‘I’m gonna love this cat on its own terms, even if it never lets me touch it, never lets me hold it or anything,’” Huizar said.</p>
    <p>Patrick Carroll said students should be aware of these factors before considering adoption. </p>
  </div>
    <div>
    <video controls style="float: right; margin: 10px; width: 300px;" class="p-2">
      <source src="img/highway.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
    <p>“(You’ve) taken them from a place they know — where are the cars, dogs, coyotes, and places to get food and water? — and put them in an entirely strange place,” Patrick Carroll said in an email. “If they don’t ‘work out,’ there may be no give back. Once construction starts, ‘there’ isn’t there anymore.”</p>
    <p>For students interested in adopting a Hancock cat, they can find more information on the group’s Facebook page.</p>
  </div>
</div>
</body>
</html>
{% endblock %}