{% extends '_templates/base.njk' %}

{% block page_title %} Index page title{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container p-4">
  <h3 class="text-center"> Radio </h3>
</div>
<div class="container">
<div class="row justify-content-center">
  <div class="col text-left">
    <div>
    <audio controls class="my-2 w-100">
      <source src="img/restaurant-lawsuit.mp4" type="audio/mp4">
      Your browser does not support the audio element.
    </audio>
    <p class="text-muted small mt-1">Restaurant lawsuit story for Houston Public Media</p>
    </div>
  <div>
    <audio controls class="my-2 w-100">
      <source src="img/debris-story.mp3" type="audio/mp3">
      Your browser does not support the audio element.
    </audio>
    <p class="text-muted small mt-1">Debris after Beryl story for Houston Public Media</p>
  </div>  
  </div>
  <div>
  <div class="col text-right">
    <audio controls class="my-2 w-100">
      <source src="img/fastcougar-story.mp3" type="audio/mp3">
      Your browser does not support the audio element.
  </audio>
  <p class="text-muted small mt-1">University of Houston track star for Houston Public Media</p>
  </div>
  </div>
  </div>
</div>
<div class="container">
  <div class="container p-4">
  <h3 class="text-center"> Broadcast </h3>
</div>
<div class="row justify-content-center">
  <div class="col-md-6 text-center">
    <video controls width="500" class="my-2 w-100">
      <source src="img/anchor.mp4" type="video/mp4">
      Your browser does not support the video element.
    </video>
    <p class="text-muted small mt-1">Anchoring for Reporting Texas TV</p>
  </div>
  <div class="col-md-6 text-center">
    <video controls width="500" class="my-2 w-100">
      <source src="img/SB2-story.mp4" type="video/mp4">
      Your browser does not support the video element.
    </video>
    <p class="text-muted small mt-1">School voucher story for Reporting Texas TV</p>
  </div>
</div>
</div>
{% endblock %}