{% extends '_templates/base.njk' %}

{% block content %}
<article class="container">
  <h1 class=text-center p-4>Some of my favorite stories and how I reported them</h1>
  <div class="row row-cols-1 row-cols-md-2 g-4 row-cols-lg-2 p-4">
    {% for btr in btr.btr %}
  <div class="col">
    <div class="card h-100">
     <img src="./img/{{ btr.image }}""; class="card-img-top">
      <div class="card-body">
        <h5><a href="{{ btr.source }}" target="_blank">{{ btr.headline }}</a></h5>
        <button style="padding: 10px 20px; background-color:rgba(218, 175, 233, 0.46); color: white; border: none; border-radius: 5px; cursor: pointer;">
  <a href="{{ btr.btr }}" class="card-link text-center">Look behind the reporting</a>
        </button>
      </div>
    </div>
  </div>
  {% endfor %}
  </div>
  <div>
  <img src="img/Manoopicofme.JPEG" style="float: left; width: 240px; margin: 20px 20px 50px 20px;">
<h3 class="text-center p-4">About Me</h3>
  <p>As a dedicated journalism student at the University of Texas, I am passionate about storytelling. Throughout my academic career so far, I have served as a reporter and associate news editor at The Daily Texan, the (awesome) UT student newspaper. I also had the opportunity of interning at Houston Public Media, where I dove into daily reporting, Ballotpedia, where I learned more about staying objective, and KUT, where I worked on a months-long multimedia feature story. Through it all, I have stayed committed to pursuing a journalistic career that allows me to use my skills to inform, educate and empower others. I also strayed from journalism to expand my knowledge on skills that could later help my reporting by minoring in government and business, along with taking the coding class that allowed me to code this website (Hi and thank you, Professor McDonald)! I am eager to connect with other professionals in the industry and learn from their experiences.</p>
</div>
<h3 class="text-center p-4"> My story</h3>
<p>As I popped another chocolate chip into my mouth after a day of 9th grade summer classes, I watched 16-year-old Carrie Bradshaw land her first job at Interview Magazine on my television. As opposite as our worlds were, The-Carrie-Diaries-star and I had one thing in common: we were both falling in love with the world of journalism. Once the next school year began, I dove head first into my journalism classes, subscribed to all the fashion magazines I could afford and watched Anna Wintour on my mom's MasterClass account.</p>
<p>Suddenly, 2020 brought this glamour to a halt. My phone screen changed from fashion to news of a pandemic, photographs of protests and quotes from the presidential candidates. I immediately saw the journalist behind the works and recognized the immense responsibility and strength that each reporter carried. It was because of them that we could unite in a world-wide pandemic and practice honest democracy in a confusing election. That is when I knew that my dream of becoming a journalist was real.</p>
<p>Today, I am lucky enough to live out this dream. I started reporting for The Daily Texan within my first month at The University of Texas, where I learned to shine a light on unseen issues and inequities affecting our community. I eventually deepened my passion for reporting on these matters and expanded my knowledge on how to report them.</p>
<p>My colleague and I placed second on a Texas Intercollegiate Press Association award for our coverage on one of the first Palestine protests at UT following the October 2023 attack. ​I saw my stories about protestors and Senate Bill 17, a bill banning diversity equity and inclusion practices in Texas public universities, featured in activists' petitions, letters and panels.</p>
<p>I then tried radio for the first time at Houston Public Media. My coverage on the effects of Hurricane Beryl in Houston zoomed into homeowners with debris, restaurant-owners with closed shops and unpaid employees and regular park goers. A couple radio pieces were played in the state-wide NPR stations.</p>
<p>As I go further into my career, I hope to find a community to stick with to truly create a bond and trust with the people we serve. Please feel welcome to reach out and begin connecting!</p>
</article>
{% endblock %}
