{% extends '_templates/base.njk' %}

{% block page_title %}My Work{% endblock %}

{% block page_description %}my favorite stories.{% endblock %}

{% block content %}
<article class="container">
  <h1 class=text-center>The Daily Texan</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4 row-cols-lg-3">
    {% for story in mywork.stories %}
  <div class="col">
    <div class="card h-100">
     <img src="./img/{{ story.image }}"; class="card-img-top">
      <div class="card-body">
        <h5 class="card-title text-center">{{ story.headline }}</h5>
        <p class="card-text text-center">{{ story.description}}</p>
        <div class="card-footer">
  <a href="{{ story.source }}" class="card-link text-center">Read the story!</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</article>
{% endblock %}